<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>Filters.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUserServlet</servlet-name>
        <servlet-class>Servlets.RegisterUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveProfileServlet</servlet-name>
        <servlet-class>Servlets.RetrieveProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportCaseServlet</servlet-name>
        <servlet-class>Servlets.MissingPersonReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showUsers</servlet-name>
        <servlet-class>showUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>Servlets.FileUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewUserServlet</servlet-name>
        <servlet-class>Servlets.AddNewUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnidentifiedPersonReportServlet</servlet-name>
        <servlet-class>Servlets.UnidentifiedPersonReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetriveConstituencyServlet</servlet-name>
        <servlet-class>Servlets.RetriveConstituencyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveCasesServlet</servlet-name>
        <servlet-class>Servlets.RetrieveCasesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveMyPostServlet</servlet-name>
        <servlet-class>Servlets.RetrieveMyPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostDetailServlet</servlet-name>
        <servlet-class>Servlets.PostDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>Servlets.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveStatisticsServlet</servlet-name>
        <servlet-class>Servlets.RetrieveStatisticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdvanceSearchServlet</servlet-name>
        <servlet-class>Servlets.AdvanceSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveUsersSevlet</servlet-name>
        <servlet-class>Servlets.RetrieveUsersSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessUserServlet</servlet-name>
        <servlet-class>Servlets.ProcessUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResolveCasesServlet</servlet-name>
        <servlet-class>Servlets.ResolveCasesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetriveCaseDetailsServlet</servlet-name>
        <servlet-class>Servlets.RetriveCaseDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUserServlet</servlet-name>
        <url-pattern>/RegisterUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveProfileServlet</servlet-name>
        <url-pattern>/RetrieveProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportCaseServlet</servlet-name>
        <url-pattern>/ReportCase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showUsers</servlet-name>
        <url-pattern>/showUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/FileUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewUserServlet</servlet-name>
        <url-pattern>/AddNewUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnidentifiedPersonReportServlet</servlet-name>
        <url-pattern>/UnidentifiedPersonReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetriveConstituencyServlet</servlet-name>
        <url-pattern>/RetriveConstituency</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveCasesServlet</servlet-name>
        <url-pattern>/RetrieveCases</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveMyPostServlet</servlet-name>
        <url-pattern>/RetrieveMyPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostDetailServlet</servlet-name>
        <url-pattern>/PostDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveStatisticsServlet</servlet-name>
        <url-pattern>/RetrieveStatistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdvanceSearchServlet</servlet-name>
        <url-pattern>/AdvanceSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveUsersSevlet</servlet-name>
        <url-pattern>/RetrieveUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessUserServlet</servlet-name>
        <url-pattern>/ProcessUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResolveCasesServlet</servlet-name>
        <url-pattern>/ResolveCases</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetriveCaseDetailsServlet</servlet-name>
        <url-pattern>/RetriveCaseDetails</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
